header{
    background: linear-gradient(to bottom, rgb(75, 1, 75),rgb(184, 20, 206));
    height: 70px;
}
input:hover{
    outline: 0.5cap solid rgb(131, 202, 230);
}
body {
    background-color: aliceblue ;
}